
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-size: small;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

textarea {
    resize: none;
}

#box-info a {
    text-decoration: none;
    outline: none;
    cursor: default;
    float: right;
    padding: 1px;
    color: rgb(45, 180, 30);
    font-weight: bold;
}

#container {
    top: 20px;
    width: 450px;
    height: 540px;
    
    padding: 3px;
    margin: 10px;
}

.box-result-item {
    height: 180px;
    padding: 3px;
    overflow: hidden;
}

#check-target {
    margin-top: 5px;
}

#check-result {
    margin-top: 5px;    
    overflow: auto;
    height: 130px;
}

/* .donation-button {
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0 auto;
    display: block;
} */

.check-fs-container {
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}

#check-fs-link {
    text-decoration: none;
}

.googleads {
    text-align: center;
    color: gray;
    display: block;
}

.wrong {
    color: red;
}

.paypal {
    color: #0065B1;
}

.donation {
    margin: 10px 0;
    display: flex;
}

.donation-info {
    flex: 3;
    line-height: 1.6rem;
}

.donation-qr {
    flex: 2;
    text-align: center;
}

.donation-qr img {
    width: 130px;
    height: 130px;
}

.ads {
    line-height: 1.5rem;
}
